# EditorConfig for lager_ext project
# https://editorconfig.org

root = true

# All files
[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# C/C++ source files
[*.{h,hpp,c,cpp,cc,cxx}]
indent_size = 4

# CMake files
[CMakeLists.txt]
indent_size = 4

[*.cmake]
indent_size = 4

# QML files
[*.qml]
indent_size = 4

# Markdown
[*.md]
trim_trailing_whitespace = false
